%body.index{:onload => "init()"}

  = link_to 'Sign out', logout_path, id: 'sign_out'

  .brews-index
    .text-center
      %h1 Recommended Brews for You
    .canvas
      %canvas#virtual_bar{:height => "450", :width => "720"}
        %p Oops, looks like this page isn't compatible with your browser.
      #beer1.text-center
        %h5
          = @recommended_brews[0].name
        .br
        %h5
          = @recommended_brews[0].brewery
      #beer2.text-center
        %h5
          = @recommended_brews[1].name
        .br
        %h5
          = @recommended_brews[1].brewery
      #beer3.text-center
        %h5
          = @recommended_brews[2].name
        .br
        %h5
          = @recommended_brews[2].brewery
      #beer4.text-center
        %h5
          = @recommended_brews[3].name
        .br
        %h5
          = @recommended_brews[3].brewery
      #beer5.text-center
        %h5
          = @recommended_brews[4].name
        .br
        %h5
          = @recommended_brews[4].brewery

:javascript

  var stage;

  function init() {
    stage = new createjs.Stage('virtual_bar');
    var w = stage.width = stage.clientWidth;
    var h = stage.height = stage.clientHeight;
    stage.enableMouseOver(30)

    var beer1 = new createjs.Shape();
    var beer2 = new createjs.Shape();
    var beer3 = new createjs.Shape();
    var beer4 = new createjs.Shape();
    var beer5 = new createjs.Shape();

    beer1.graphics.beginFill('#000000').drawRect(110, 335, 50, 50);
    beer2.graphics.beginFill('#000000').drawRect(210, 335, 50, 50);
    beer3.graphics.beginFill('#000000').drawRect(310, 335, 50, 50);
    beer4.graphics.beginFill('#000000').drawRect(410, 335, 50, 50);
    beer5.graphics.beginFill('#000000').drawRect(510, 335, 50, 50);


    beer1.addEventListener("mouseover", function() {
      beer1.graphics.clear();
      beer1.graphics.beginFill('#000000').drawRect(105, 330, 60, 60);
      jQuery("#beer1").slideToggle("fast");
      stage.update();
    });
    beer1.addEventListener("mouseout", function() {
      beer1.graphics.clear();
      beer1.graphics.beginFill('#000000').drawRect(110, 335, 50, 50);
      jQuery("#beer1").slideToggle("fast");
      stage.update();
    });
    //beer1.addEventListener("click", function(e) {
    //  window.location = ('http://www.facebook.com')
    //});

    beer2.addEventListener("mouseover", function() {
      beer2.graphics.clear();
      beer2.graphics.beginFill('#000000').drawRect(205, 330, 60, 60);
      jQuery("#beer2").slideToggle("fast");
      stage.update();
    });
    beer2.addEventListener("mouseout", function() {
      beer2.graphics.clear();
      beer2.graphics.beginFill('#000000').drawRect(210, 335, 50, 50);
      jQuery("#beer2").slideToggle("fast");
      stage.update();
    });
    //beer2.addEventListener("click", function(e) {
    //  window.location = ('http://www.facebook.com')
    //});

    beer3.addEventListener("mouseover", function() {
      beer3.graphics.clear();
      beer3.graphics.beginFill('#000000').drawRect(305, 330, 60, 60);
      jQuery("#beer3").slideToggle("fast");
      stage.update();
    });
    beer3.addEventListener("mouseout", function() {
      beer3.graphics.clear();
      beer3.graphics.beginFill('#000000').drawRect(310, 335, 50, 50);
      jQuery("#beer3").slideToggle("fast");
      stage.update();
    });
    //beer3.addEventListener("click", function(e) {
    //  window.location = ('http://www.facebook.com')
    //});

    beer4.addEventListener("mouseover", function() {
      beer4.graphics.clear();
      beer4.graphics.beginFill('#000000').drawRect(405, 330, 60, 60);
      jQuery("#beer4").slideToggle("fast");
      stage.update();
    });
    beer4.addEventListener("mouseout", function() {
      beer4.graphics.clear();
      beer4.graphics.beginFill('#000000').drawRect(410, 335, 50, 50);
      jQuery("#beer4").slideToggle("fast");
      stage.update();
    });
    //beer4.addEventListener("click", function(e) {
    //  window.location = ('http://www.facebook.com')
    //});

    beer5.addEventListener("mouseover", function() {
      beer5.graphics.clear();
      beer5.graphics.beginFill('#000000').drawRect(505, 330, 60, 60);
      jQuery("#beer5").slideToggle("fast");
      stage.update();
    });
    beer5.addEventListener("mouseout", function() {
      beer5.graphics.clear();
      beer5.graphics.beginFill('#000000').drawRect(510, 335, 50, 50);
      jQuery("#beer5").slideToggle("fast");
      stage.update();
    });
    //beer5.addEventListener("click", function(e) {
    //  window.location = ('http://www.facebook.com')
    //});

    stage.addChild(beer1);
    stage.addChild(beer2);
    stage.addChild(beer3);
    stage.addChild(beer4);
    stage.addChild(beer5);
    stage.update();
  }
