.container
  = link_to 'Sign out', logout_path, id: 'sign_out'
  .row
    - @brews.each do |brew|
      .span4
        = image_tag brew.med_image_url
        .br
        = "Name: #{brew.name}"
        .br
        = "Brewery: #{brew.brewery}"
        .br
        = link_to image_tag('thumb_up_small.png'), ratings_path(brew_id: brew.id, rating: true), method: 'POST'
        = link_to image_tag('thumb_down_small.png'), ratings_path(brew_id: brew.id, rating: false), method: 'POST'
