!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Re-Tap"
    %meta{:content => "", :name => "Social Beer Recommendations"}
    %meta{:content => "", :name => "Logan Sears"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
    = yield(:head)
  %body
    #main{:role => "main"}
      = yield
    %footer
      = render 'layouts/footer'
